.mou-upload-container {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 4rem;
  flex-wrap: nowrap; 
}

.initial-form {
  max-width: 700px;
  flex: 1; 
}

.upload-box {
  flex: 0 0 350px; 
  text-align: center;
  border-style: dashed;
  border-color: #ccc;
}

.form-grid {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
  gap: 0rem 1rem !important; 
}

.form-group.full-width {
  grid-column: span 2 ;
}

.form-group {
  display: flex ;
  flex-direction: column ;
}

.form-group label {
  font-size: 0.9rem ;
  margin-bottom: 0.3rem ;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 0.5rem ;
  font-size: 1rem ;
  border: 1px solid #ccc ;
  border-radius: 5px ;
}

.form-group textarea {
  resize: none ;
}

.manual-entry-note {
  font-size: 0.85rem ;
  text-align: center ;
  margin-top: 1rem ;
  color: #800000 ;
  cursor: pointer ;
  text-decoration: underline;
}

.file-drop-area {
  border: 2px dashed #ccc ;
  border-radius: 8px ;
  padding: 1rem ;
  margin: 1.5rem 0 ;
  text-align: center ;
}

.file-drop-area p {
  font-weight: 500 ;
  margin-bottom: 0.5rem ;
}

.file-drop-area small {
  display: block ;
  color: #666 ;
  font-size: 0.75rem ;
  margin-bottom: 1rem ;
}

.select-file-btn {
  background-color: #800000 ;
  color: #fff ;
  padding: 0.5rem 1.2rem ;
  border: none ;
  border-radius: 6px ;
  cursor: pointer ;
  font-size: 0.9rem ;
  transition: 0.2s ease ;
  display: inline-block ;
}

.file-name {
  margin-top: 0.8rem;
  font-size: 0.85rem ;
  color: #444 ;
}

.submit-btn {
  background-color: #800000 ;
  color: #fff ;
  padding: 0.6rem ;
  width: 100% ;
  border: none ;
  border-radius: 6px ;
  cursor: pointer ;
  margin-top: 1rem ;
}
